@import url('./font/fonts.css');

:root {
    --black: #00241b;
    --lightBlack: rgba(0, 36, 27, .7);
    --experementBackground: #073232;    
    --background: #f5f5f5;
    --border: #edeef1;
    --green: #7ccf9e;
    --darkGreen: rgba(89, 145, 112);
}

/* General */

html {
    font-family: 'Geometria', Arial, sans-serif;
    font-size: 16px;
    color: var(--black);
    scroll-behavior: smooth;
}

body {
    margin-top: 80px;
    overflow-x: hidden;
}

main section, footer {
    padding-top: 80px;
    /* margin-top: -80px; */
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.fullpage {
    padding: 0 50px;
}
@media screen and (max-width: 1199.98px) {
    .fullpage {
        padding: 0 20px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a.btn {
    padding: 15px 30px;
    border: 1px solid var(--black);
    border-radius: 3px;

    transition: all .15s ease-in;
}

a.btn:hover {
    background-color: var(--lightBlack);
    color: var(--border)
}

h1 {
    font-size: 3rem;
}

/* Styles */

.dark {
    background-color: var(--black);
    color: var(--green);
    fill: var(--green);
    stroke: var(--green);
}

/* .dark:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    height: 100px;
    background: linear-gradient(var(--background), var(--black));
} */

/* Intro */

.intro {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 100500;

    background-color: var(--black);
    color: var(--background);
    /* transform: translateY(-100%); */
}

.intro h1 {
    font-size: 5rem;
}

.intro button {
    padding: 10px 60px;
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 40px;
    background: transparent;

    font-size: 3rem;
    cursor: pointer;
}

.intro button:hover {
    background: var(--darkGreen);
    color: var(--background);
    border: 1px solid transparent;
}

/* Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;

    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: saturate(1) blur(20px);
    -o-backdrop-filter: saturate(1) blur(20px);
    -webkit-backdrop-filter: saturate(1) blur(20px);
    -moz-backdrop-filter: saturate(1) blur(20px);

    border-bottom: 1px solid var(--border);
    z-index: 100;
}

@supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
    header {
        background-color: rgba(255, 255, 255, .7);
    }
}

.header__inner {
    padding: 15px 0;
    display: flex;
    align-items: center;
}

header #logo {
    width: 115px;
    pointer-events: none;
}

header nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    margin-left: auto;
}

header nav a {

}

/* Main */

main {
    position: relative;
}

/* Banner */

#banner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-areas: 
        "union-1 description image"
        "union-2 telegram image";
}

#banner .union {
    grid-area: union-image;
    justify-self: center;
    object-fit: cover;
    max-width: 100px;
}
#banner .union.first {
    grid-area: union-1;
    align-self: flex-end;
}
#banner .union.second {
    grid-area: union-2;
    align-self: flex-start;
}
#banner .description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#banner .clip-img {
    grid-area: image;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
#banner .telegram {
    grid-area: telegram;
    align-self: center;

    display: flex;
    align-items: center;
} 

#banner .union img {
}

#banner h1 {
    margin: 0;
}

#banner p {
    font-size: 1.5rem;
}

#banner .beehive {
    position: relative;
    display: flex;
    gap: 3px;
    height: 35px;
}

#banner .beehive-second {
    margin-left: 17.5px;
    top: -3px;
}

#banner .beehive img {
    max-width: 35px;
    max-height: 35px;
}

#banner .clip-img img {
    max-width: 100%;
    clip-path: url(#hexagon-clip);
}

#banner .telegram svg {
    height: 100px;
}

#banner .telegram path {
    stroke: var(--black);
    stroke-width: 2px;
}

#banner .telegram .btn {
    font-size: 1.5rem;
    margin-bottom: 40px;
    padding: 10px 60px;
    text-align: center;
}

/* About */

#about .descriptions {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#about .description {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#about .description:after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    /* height: 1px; */
    /* background-color: var(--experementBackground); */
    border-bottom: 1px solid var(--experementBackground);
    border-radius: 5px;
}

#about .description p {
    font-size: 1.5rem;
    flex-basis: 66.66%;
}

#about .description img {
    max-width: 171px;
    max-height: 171px;

}

#about .description.right p {
    order: 1;
}

/* Spheres */

#spheres {
    position: relative;
    stroke: var(--black);
}

#spheres h1 {
    position: absolute;
    right: 0;
    top: 0;
    text-align: end;
    margin: 0;
}

#spheres svg text {
    text-anchor: middle;
    font-size: 1.5rem;
}

#spheres svg .title {
    font-size: 3rem;
}

#spheres svg path {
    fill: none;
    stroke-width: 1px;
}

#spheres svg .top {
    transform: translate(550px, 657px);
}

#spheres svg .right {
    transform: translate(700px, 690px)
}

#spheres svg .bottom {
    transform: translate(575px, 775px)
}

#spheres svg .left {
    transform: translate(500px, 690px)
}

#spheres .sphere text {
    transform: translate(0, -70px);
}

#spheres .sphere image {
    transform: translate(-60px, -210px)
}

/* SVG */

#hexagonMask {
    width: 0;
    height: 0;
    position: absolute;
}

#hexagonMask polygon {
    stroke: var(--black);
    stroke-width: 5px;
}

/* .hexagonBorder:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--border);
    clip-path: polygon(100% 50%, 75% 93.33%, 25% 93.33%, 0% 50%, 25% 6.66%, 75% 6.66%);
    -webkit-clip-path: polygon(1 0.5, 0.75 0.9333, 0.25 0.933, 0 0.5, 0.25 0.0666, 0.75 0.0666);
} */