@import url('../font/fonts.css');

:root {
    --black: #00241b;
    --lightBlack: rgba(0, 36, 27, .7);
    --experementBackground: #073232;
    --gray: #275654;    
    --background: rgba(245, 245, 245);
    --lightGrey: rgb(204, 204, 204);
    --shadowBackground: rgba(245, 245, 245, .08);
    --border: #edeef1;

    --grey: rgba(50, 50, 50);
    --green: #7ccf9e;
    --shadowGreen: rgba(124, 207, 158, .08);
    --darkGreen: rgba(89, 145, 112);
    --skyblue: #4EFFD4;
    --blue: #2EB4FF;
    --shadowBlue: rgba(46, 180, 255, .08);
    --red: #FF543D;
    --white: rgba(245, 245, 245);
    --shadowWhite: rgba(245, 245, 245, .08);
    --salatGreen: #5EE63C;
    --shadowSalat: rgba(94, 230, 60, .08);
    --yellow: rgba(235, 217, 42);
    --shadowYellow: rgba(235, 217, 42, .08);
}

/* General */

* {
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

html {
    font-family: 'Geometria', Arial, sans-serif;
    font-size: 16px;
    color: var(--black);
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    background-color: var(--primary);
}

body {
    /* margin-top: 80px; */
    --primary: var(--white);
    --leadText: var(--black);
    --text: var(--black);
    --headerText: var(--black);
    --lineColor: var(--black);

    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--primary);

    transition: all 1s cubic-bezier(0.104,0.204,0.492,1);
}

body.dark-mode {
    --primary: #00241b;
    --leadText: rgba(245, 245, 245);
    --text: #cfcfcf;
    --headerText: var(--green);
    --lineColor: var(--green);
}

main section {
    margin-top: 80px;
    /* padding-top: 80px;
    box-sizing: border-box;
    margin-top: -80px; */
}
@media screen and (max-width: 767.98px) {
    main section {
        padding-top: 20px;
    }
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.fullpage {
    padding: 0 50px;
    /* margin: 0 auto; */
}
@media screen and (min-width: 1440px) {
    .fullpage {
        max-width: 1400px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (max-width: 1199.98px) {
    .fullpage {
        padding: 0 20px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a.btn {
    padding: 15px 30px;
    border: 1px solid var(--lineColor);
    border-radius: 3px;
    font-size: 1.5rem;
    color: var(--lineColor);

    transition: all .15s ease-in;
}

a.btn:hover {
    background-color: var(--lightBlack);
    color: var(--border)
}
@media screen and (max-width: 575.98px) {
    a.btn {
        font-size: 1rem;
    }
}
a.dark-btn {
    background-color: var(--black);
    color: var(--border);
    padding: 15px 30px;
    border: 1px solid var(--green);
    border-radius: 3px;
    font-size: 1.5rem;

    transition: all .15s ease-in;
}
a.dark-btn:hover {
    background-color: var(--darkGreen);
    /* color: var(--green); */
}
@media screen and (max-width: 575.98px) {
    a.dark-btn {
        font-size: 1rem;
    }
}

h1, h2, h3 {
    color: var(--leadText);
}

h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0.67em 0;
}
@media screen and (max-width: 991.98px) {
    h1 {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 575.98px) {
    h1 {
        font-size: 2rem;
    }
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
    color: var(--lineColor);
}
@media screen and (max-width: 575.98px) {
    h3 {
        font-size: 1.5rem;
    }
}

p {
    font-size: 1.5rem;
    color: var(--text);
}
@media screen and (max-width: 575.98px) {
    p {
        font-size: 1rem;
    }
}

.hidden {
    visibility: hidden;
}

/* Styles */

.dark {
    background-color: var(--black);
    color: var(--green);
    fill: var(--green);
    stroke: var(--green);
}

.shadow {
    -webkit-box-shadow: -6px 1px 18px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -6px 1px 18px -3px rgba(34, 60, 80, 0.2);
    box-shadow: -6px 1px 18px -3px rgba(34, 60, 80, 0.2);
}

/* Intro */

.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 100500;

    background-color: var(--black);
    color: var(--white);
    overflow-x: hidden;
    /* transform: translateY(-100%); */
}

.intro .text {
    width: 80%;
    margin: 0 20vw;
}

.intro .static {
    position: relative;
    left: 0;
    opacity: 0;
    transform: translateX(-100%);
    color: var(--white);
    /* width: 4 0vw; */
}

.intro .code-text {
    text-transform: capitalize;
    color: var(--green);
}

.intro h1 {
    display: inline-block;
    font-size: 4vw;
}

.intro button {
    padding: 1vw 6vw;
    color: var(--green);
    opacity: 0;
    border: 1px solid var(--green);
    border-radius: 40px;
    background: transparent;

    font-size: 3vw;
    cursor: pointer;
    transition: all .15s ease-out;
}

.intro button:hover {
    background: var(--darkGreen);
    color: var(--white);
    border: 1px solid transparent;
}

/* Header */

header {
    position: sticky;
    /* overflow-x: hidden; */
    top: 0;
    width: 100%;
    height: 79px;

    background-color: var(--primary);
    backdrop-filter: saturate(1) blur(20px);
    -o-backdrop-filter: saturate(1) blur(20px);
    -webkit-backdrop-filter: saturate(1) blur(20px);
    -moz-backdrop-filter: saturate(1) blur(20px);

    border-bottom: 1px solid var(--border);
    z-index: 100;

    transition: all 1s cubic-bezier(0.104,0.204,0.492,1);
}

@supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
    header {
        background-color: rgba(245, 245, 245, .7);
    }
}

body.dark-mode header {
    background-color: var(--primary);
    border: none;

}

.header__inner {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #logo {
    width: 115px;
    pointer-events: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

header nav a {
    color: var(--headerText);
}

#telegram-nav {
    display: none;
}

#burger {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
}

#burger div {
    height: 1px;
    background-color: var(--leadText);

    transition: all .3s ease-in-out;
    transform-origin: 13%; 
}
#burger.active .first {
    transform: rotate(45deg);
}
#burger.active .second {
    opacity: 0;
}
#burger.active .third {
    transform: rotate(-45deg);
}

@media screen and (max-width: 767.98px) {
    header nav {
        position: fixed;
        top: 0;
        right: 0;
        max-width: 300px;
        height: 100vh;

        padding: 20px;
        padding-top: 80px;
        background-color: var(--primary);
        box-shadow: -6px 1px 8px 0px rgba(34, 60, 80, 0.2);
        
        flex-direction: column;
        align-items: initial;
        justify-content: initial;

        font-size: 1rem;

        transform: translateX(100%);
        transition: all .3s ease-in-out;
    }

    #telegram-nav {
        display: block;
        margin: auto 20px 0 20px;
        padding: 10px 20px;
        background-color: var(--green);
        border: var(--green);
        color: var(--border);
        font-weight: 300;
    }
    header nav.active{
        transform: translateX(0);
    }



    #burger {
        z-index: 1000;
        display: flex;
    }
}

/* Main */

main {
    position: relative;
}

/* Banner */

#banner {
    position: relative;
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-areas: 
        "union-1 description image"
        "union-2 telegram image";
}

#banner .union {
    grid-area: union-image;
    justify-self: center;
    object-fit: cover;
    max-width: 100px;
}
#banner .union.first {
    grid-area: union-1;
    align-self: flex-end;
}
#banner .union.second {
    grid-area: union-2;
    align-self: flex-start;
}
#banner .description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#banner .clip-img {
    grid-area: image;
    position: relative;
    min-width: 100%;
    max-height: 100%;
}
#banner .telegram {
    grid-area: telegram;
} 

#banner .union img {
}

#banner h1 {
    grid-area: title;
    margin: 0;
}

#banner .beehive {
    position: relative;
    display: flex;
    gap: 3px;
    height: 35px;
}

#banner .beehive-second {
    margin-left: 17.5px;
    top: -4.5px;
}

#banner .beehive img {
    max-width: 35px;
    max-height: 35px;
}

#banner .clip-img img {
    max-width: 100%;
    min-width: 260px;
    clip-path: url(#hexagon-clip);
}

#banner .words-monitor {
    display: none;
    /* opacity: 0; */
}

@media screen and (max-width: 1199.98px) {
    #banner {
        grid-template-columns: 4fr 3fr;
        grid-template-areas:
            "description image"
            "telegram image";
    }
    #banner .union {
        display: none;
    }
}
@media screen and (max-width: 991.98px) {
    #banner {
        grid-template-columns: 4fr 3fr;
        gap: 40px;
        grid-template-areas:
            "description words-monitor"
            "description words-monitor"
            "telegram telegram";
    }

    #banner .words-monitor {
        grid-area: words-monitor;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #banner .clip-img {
        display: none;
    }
}
@media screen and (max-width: 767.98px) {
    #banner {
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px; */
        grid-template-columns: 4fr 3fr;
        /* gap: 40px;
        grid-template-areas:
            "description image"
            "description image"
            "telegram telegram"; */

    }

    #banner .beehive {
        gap: 2.5px;
        height: 25px;
        justify-content: center;
    }

    #banner .beehive-second {
        right: -2.5px;
    }

    #banner .beehive img {
        max-width: 25px;
        max-height: 25px;
    }

    #banner .clip-img {
        display: none;
    }

    /* #banner .words-monitor {
        display: none;
    } */
}
@media screen  and (max-width: 575.98px) {
    #banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        
    }
    
    #banner svg {
        display: none;
    }

    #banner .beehives {

    }

    #banner .words-monitor {
        display: none;
    }
}

/* About */

#about {
    padding-bottom: 80px;
}
@media screen and (max-width: 767.98px) {
    #about {
        padding-bottom: 20px;
    }
}

#about .descriptions {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#about .description {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#about .description:after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    background-color: var(--primary);
    border-bottom: 1px solid var(--text);
    border-radius: 5px;
    z-index: 0;
}

#about .description p {
    flex-basis: 66.66%;
}

#about .description img {
    max-width: 171px;
    max-height: 171px;

}

#about .description.right p {
    order: 1;
}

@media screen and (max-width: 767.98px) {
    #about .descriptions {
        gap: 50px;  
    }
    
    #about .description img {
        max-width: 79px;
        /* margin: 0 auto; */
    }

    #about .description.right p{
        /* text-align: right; */
    }

    #about .description p {
        flex-basis: 80%;
    }
}

/* Spheres */

#sphere__section {
    position: relative;
    stroke: var(--lineColor);
}

#sphere__section h1 {
    position: absolute;
    right: 0;
    top: 0;
    text-align: end;
    margin: 0;
}
@media screen and (max-width: 991.98px) {
    #sphere__section h1 {
        right: 20px;
    }
}
@media screen and (max-width: 767.98px) {
    #sphere__section .title {
        display: flex;
        justify-content: flex-end;
    }
    #sphere__section h1 {
        position: relative;
        right: 0;
        text-align: right;
    }
}

#sphere__section svg text {
    text-anchor: middle;
    font-size: 1.5rem;
    color: var(--lineColor);
    fill: var(--lineColor);
}
@media screen and (max-width: 575.98px) {
    #sphere__section svg text {
        font-size: 2rem;
    }
}

#sphere__section svg .title {
    font-size: 3rem;
}

#sphere__section svg path {
    fill: none;
    stroke-width: 1px;
}

#sphere__section svg .top {
    transform: translate(550px, 657px);
}

#sphere__section svg .right {
    transform: translate(700px, 690px)
}

#sphere__section svg .bottom {
    transform: translate(575px, 775px)
}

#sphere__section svg .left {
    transform: translate(500px, 690px)
}

#sphere__section .sphere text {
    transform: translate(0, -70px);
}

#sphere__section .sphere image {
    transform: translate(-60px, -210px)
}

@media screen and (max-width: 575.98px) {
    #sphere__section svg {

    }
}

/* howToBuy */

#howToBuy .buy-map {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 60px;
    padding: 40px 0;
}
#howToBuy .buy-map:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background: var(--white);
}

#howToBuy .punct {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

    font-size: 1.5rem;
    font-weight: 400;
    color: var(--primary);
    opacity: .9;

    transition: all .15s ease-in;
}
#howToBuy .punct:hover {
    opacity: 1;
}

#howToBuy .punct.right {
    left: calc(50% - 30px);
    width: calc(50% + 30px);
    justify-content: flex-start;
}
#howToBuy .punct.left .instruction {
    text-align: left;
}

#howToBuy .punct.left {
    left: 0;
    width: calc(50% + 30px);
    justify-content: flex-end;
}
#howToBuy .punct.left .order {
    order: 1;
}
#howToBuy .punct.left .instruction {
    text-align: right;
}

#howToBuy .punct .order {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 60px;
    min-height: 60px;
    /* padding: 5px 20px; */
    /* border: 1px solid var(--green); */
    background-color: var(--green);
    clip-path: url(#hexagon-clip); 
}

#howToBuy .instruction {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    white-space: pre-wrap;
}

#howToBuy .instruction a {
    color: var(--green);
}
#howToBuy .instruction a:hover {
    color: var(--border);
}

@media screen and (max-width: 575.98px) {
    #howToBuy .buy-map {
        /* padding-left: 30px; */
    }
    #howToBuy .buy-map:before {
        left: 30px;
    }
    #howToBuy .punct.left {
        width: 100%;
        justify-content: flex-start;
    }
    #howToBuy .punct.right {
        left: 0;
        width: 100%;
        justify-content: flex-start;
    }
    #howToBuy .punct.left .instruction {
        text-align: left;
    }
    #howToBuy .punct.left .order {
        order: 0;
    }
}

/* Tokenomics */

#tokenomics .description svg.quote {
    opacity: .75;
    width: 100%;
    max-height: 100%;
    margin: 40px 0;

    cursor: default;
    transition: all .15s ease-in;
}
@media screen and (max-width: 767.98px) {
    #tokenomics .description svg.quote {
        margin: 0;
    }
}
#tokenomics .description svg.quote:hover {
    opacity: 1;
} 

#tokenomics svg.quote p {
    text-align: center;
    margin: 0;
}

#tokenomics svg.quote path {
    stroke: var(--darkGreen);
    stroke-width: 1px;
    fill: none;
}

#tokenomics svg.quote text {
    text-anchor: middle;
    font-size: 1.5rem;
}

/* Tokenomics donut */

#tokenomics .ct-chart-donut {
    fill: transparent;
    stroke: initial;
    color: transparent;
    width: 440px;
    min-height: 440px;
}

#tokenomics .chart {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 40px 0;
}
@media screen and (max-width: 991.98px) {
    #tokenomics .chart {
        flex-direction: column;
        gap: 20px;
    }
    #tokenomics .chart .ct-square {
        text-align: center;
    }
}
@media screen and (max-width: 767.98px) {
    #tokenomics .chart {
        padding: 20px 0;
    }
}
@media screen and (max-width: 575.98px) {
    #tokenomics .chart {
        padding: 0;
    }
}


#tokenomics .chart .legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 100%;
}

#tokenomics .chart .legend__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    padding: 8px;
    width: 100%;

    border: 1px solid var(--shadowBackground);
    border-radius: 13px;
    white-space: pre-wrap;

    cursor: pointer;
}

#tokenomics .legend__item .percent {
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    padding: 13px;
    margin: 0;
    border-radius: 13px;
    min-width: 94px;

    transition: all .15s ease-in-out;
}
@media screen and (max-width: 575.98px) {
    #tokenomics .legend__item .percent {
        font-size: 1.5rem;
    }
}

#tokenomics .legend__item .description {
    /* font-size: 1.5rem; */
    margin: 0;
}

#tokenomics .legend__item.transactions .percent {
    background-color: var(--shadowBlue);
    color: var(--blue);
} 
#tokenomics .legend__item.transactions:hover .percent {
    background-color: var(--blue);
    color: var(--black);
} 

#tokenomics .legend__item.burn .percent {
    background-color: var(--shadowWhite);
    color: var(--white);
} 
#tokenomics .legend__item.burn:hover .percent {
    background-color: var(--white);
    color: var(--black);
} 

#tokenomics .legend__item.holders .percent {
    background-color: var(--shadowYellow);
    color: var(--yellow);
} 
#tokenomics .legend__item.holders:hover .percent {
    background-color: var(--yellow);
    color: var(--black);
}

#tokenomics .legend__item.fee .percent {
    background-color: var(--shadowSalat);
    color: var(--salatGreen);
} 
#tokenomics .legend__item.fee:hover .percent {
    background-color: var(--salatGreen);
    color: var(--black);
} 

#tokenomics .ct-chart-donut .ct-series {
    opacity: 0.3;
    transition: all .15s ease-in;
}

#tokenomics .ct-chart-donut .ct-series-a path {
    stroke: var(--blue);
}

#tokenomics .ct-chart-donut .ct-series-b path {
    stroke: var(--background);
}

#tokenomics .ct-chart-donut .ct-series-c path {
    stroke: var(--yellow);
}

#tokenomics .ct-chart-donut .ct-series-d path {
    stroke: var(--salatGreen);
}

/* Tokenomics referrals */

#tokenomics .referrals {
    display: grid;
    grid-template-areas: 
        "text five-percent"
        "telegram five-percent";
}

#tokenomics .referrals p {
    grid-area: text;
}

#tokenomics .referrals .telegram {
    grid-area: telegram;
}

#tokenomics .referrals .five-percent {
    grid-area: five-percent;
}

@media screen and (max-width: 991.98px) {
    #tokenomics .referrals .five-percent {
        display: none;
    }

    #tokenomics .referrals .telegram {
        justify-self: center;
    }
}
@media screen and (max-width: 575.98px) {
    #tokenomics .referrals .telegram svg {
        display: none;
    }
}

/* Roadmap */

#roadmap nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#roadmap .arrows {
    display: flex;
    gap: 160px;
}

#roadmap .arrows svg {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
    transition: all .25s ease-in;
}
#roadmap .arrows svg path {
    fill: var(--lineColor);
}
#roadmap .arrows svg:hover path {
    fill: var(--white);
}
#roadmap .arrows svg.disabled path {
    fill: var(--grey);
}

#roadmap .timeline-slider {
    overflow-x: visible;

    transition: all .4s ease-in-out;
}

#roadmap .timeline {
    display: flex;
    align-items: flex-start;
    gap: 40px;

    transition: all .4s ease-in-out;
}
@media screen and (max-width: 767.98px) {
    #roadmap .timeline {
        flex-direction: column;
    }
    #roadmap .arrows {
        display: none;
    }
}

#roadmap .step {
    min-width: 360px;
    padding: 20px;
    box-sizing: border-box;

    color: var(--text);
    border: 1px solid var(--shadowBackground);
    border-radius: 10px;
}
@media screen and (max-width: 575.98px) {
    #roadmap .step {
        min-width: 100%;
    }
}

#roadmap .step h1 {
    margin: 0;
    padding: 0;
    color: var(--green);
}

#roadmap .step h4 {
    margin: 0;
    color: var(--text);
}

#roadmap .step li {
    margin-left: 20px;
}

#roadmap .events {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    padding-left: 0;
    margin: 0;
}

/* Footer */

footer {
    background: var(--primary);
    color: var(--text);
    margin-top: 40px;
    padding: 40px 0;
    border-top: 1px solid var(--shadowBackground);
}

footer p, footer a {
    margin: 0;
    font-size: .75rem;
}

footer a:hover {
    color: var(--green);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

footer .company {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .links {
    display: flex;
    gap: 40px;
}

footer .socials svg {
    max-width: 36px;
}

footer .socials svg path {
    fill: var(--text);
    cursor: pointer;
}
footer .socials svg:hover path {
    fill: var(--lineColor);
}

/* Privacy policy */

.privacy-policy, .terms-conditions {
    margin-top: 0;
}

.privacy-policy p, .terms-conditions p {
    white-space: pre-line;
}

/* SVG */

#hexagonMask {
    width: 0;
    height: 0;
    position: absolute;
}

#hexagonMask polygon {
    stroke: var(--black);
    stroke-width: 5px;
}

/* Telegram Link */

.telegram {
    align-self: center;
    display: flex;
    align-items: center;
}

.telegram svg {
    height: 100px;
}

.telegram path {
    stroke: var(--lineColor);
    stroke-width: 2px;
}

.telegram .btn {
    margin-bottom: 40px;
    padding: 10px 60px;
    text-align: center;
}

.telegram .dark-btn {
    margin-bottom: 40px;
    padding: 10px 60px;
    text-align: center;
}

@media screen and (max-width: 575.98px) {
    .telegram .btn, .telegram .dark-btn {
        margin-bottom: 0;
    }
}

/* .hexagonBorder:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--border);
    clip-path: polygon(100% 50%, 75% 93.33%, 25% 93.33%, 0% 50%, 25% 6.66%, 75% 6.66%);
    -webkit-clip-path: polygon(1 0.5, 0.75 0.9333, 0.25 0.933, 0 0.5, 0.25 0.0666, 0.75 0.0666);
} */